@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700&family=Signika+Negative&display=swap');
body
{
    background-color: aliceblue;
    text-align: center;
}

h1
{
    color:  #FF4500;

}

h2
{
    color: #FF4500;
}

p
{
    
  border-style: outset;
  border-color: black;
  padding: 20px;
}